{% extends "base.html" %}
{% block content %}


<p>Ações de filtros {% if wiki == "Wikipédia" %}na{% else %}no{% endif %} {{ wiki }} nos últimos 30 dias:{% if link[0:2] != "pt" %}
<br/>Filters actions in the last 30 days:{% endif %}</p>
<br/>
<p><b>Legend{% if link[0:2] == "pt" %}a{% endif %}: <span style="background-color:lightgreen">&nbsp; {% if link[0:2] == "pt" %}Correspondências sem ação{% else %}No action{% endif %} &nbsp;</span> 
<span style="background-color:#55F; color:white">&nbsp; {% if link[0:2] == "pt" %}Avisos{% else %}Warn{% endif %} &nbsp;</span> 
<span style="background-color:gold">&nbsp; {% if link[0:2] == "pt" %}Etiquetas{% else %}Tag{% endif %} &nbsp;</span> 
<span style="background-color:red; color:white">&nbsp; {% if link[0:2] == "pt" %}Desautorizações{% else %}Disallow{% endif %} &nbsp;</span></b></p>
  </tr>
{% if filters %}
<table style="width:100%" border=1 rules=rows frame=none bordercolor=lightgray>
{%- for f, t, n, a, e, d in filters %}
<tr>
  <td style="width:50px; font-size:1.8em; margin:5px 5px 5px 5px">
    <a href="//{{ link }}.org/wiki/{% if link[0:2] == "pt" %}Especial:Filtro_de_abusos{% else %}Special:AbuseFilter{% endif %}/{{ f }}" title="{{ t }}">{{ f }}</a></td>
  <td style="font-size:x-small">{% if n %}
    <div style="width:{{ (n * 100 / max)|round(1) }}%; height:10px; background-color:lightgreen" title="{{ n }} correspondências sem ações sobre {{ t|lower }}"></div>{% endif %}{% if a %}
    <div style="width:{{ (a * 100 / max)|round(1) }}%; height:10px; background-color:#55F" title="{{ a }} avisos sobre {{ t|lower }}"></div>{% endif %}{% if e %}
    <div style="width:{{ (e * 100 / max)|round(1) }}%; height:10px; background-color:gold" title="{{ e }} etiquetas sobre {{ t|lower }}"></div>{% endif %}{% if d %}
    <div style="width:{{ (d * 100 / max)|round(1) }}%; height:10px; background-color:red" title="{{ d }} desautorizações sobre {{ t|lower }}"></div>{% endif %}
</tr>
{%- endfor %}
</table>
{% else %}
ERRO
{% endif %}
<select style="margin:1em auto 2em auto; border:1px solid #A7D7F9; background-color:#F6F6F6" onchange="location.href = location.href.substring(0, location.href.lastIndexOf('/')) + '/Filtros:' + this.value">
  <option value="">Escolha outro projeto</option>
  <option>Wikipédia</option>
  <option>Wikilivros</option>
  <option>Wikcionário</option>
  <option>Wikiversidade</option>
  <option>Wikinotícias</option>
  <option>Wikiquote</option>
  <option>Wikisource</option>
  <option>Wikivoyage</option>
</select>
{% endblock %}
