{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='rickshaw/rickshaw.min.css') }}">
<script src="{{ url_for('static', filename='rickshaw/vendor/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='rickshaw/rickshaw.min.js') }}"></script>

<style> svg {box-shadow: 0 0 3px} </style>
{% endblock %}
{% block content %}
<p style="font-size:small">O gráfico a seguir se refere às edições IPs e edições de IPs patrulhadas no domínio principal da Wikipédia nos últimos 7 dias.</p>
{% if iphquery %}
<div id="chart"></div>

<script>

var data = {
    iph: [],
    iphpatrol: [],
    iphraw: [
{{ iphquery }}
]};

for (d in data.iphraw.reverse()){
    var time = String(data.iphraw[d][0]);
    time = Date.UTC(time.substr(0, 4), time.substr(4, 2), time.substr(6, 2), time.substr(8, 2))/1000;
    data.iph.push({x: time, y: data.iphraw[d][1]});
    data.iphpatrol.push({x: time, y: data.iphraw[d][2]});
}

var graph = new Rickshaw.Graph( {
    element: document.getElementById("chart"),
    width: 800,
    height: 300,
    renderer: 'line',
    stroke: true,
    preserve: true,
    series: [{
        name: "Edições de IPs",
        data: data.iph,
        color: '#B44'
    }, {
        name: "Edições de IPs patrulhadas",
        data: data.iphpatrol,
        color: '#4B4'
    }]
});

var x_axis = new Rickshaw.Graph.Axis.Time({
    graph: graph,
});

graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph,
    xFormatter: function(x){
        var d = new Date(x * 1000);
        var h = String(d.getUTCHours());
        return h + 'h&ndash;' + h + 'h59 de ' + String(d.getUTCDate()) + '/' + String(d.getUTCMonth()) + '/' + String(d.getUTCFullYear())
    },
    yFormatter: function(y){return y}
});
</script>
{%- else %}
<span style="color:red"><b>Erro</b></span>
{%- endif %}
{% endblock %}
